*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    text-decoration: underline;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: auto;
    height: 300px;
}

div a {
    background-color: hsl(14, 82%, 46%);
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
}

div.card,
div.food-pic-container,
div.food-details-container {
    display: inline-block;
    margin: 10px;
}

div.food-pic-container {
    margin-right: 10px;
}

div.food-details-container {
    margin: 0px auto;
    vertical-align: top;
    text-align: left;
    width: 70%;
}

.odin-foods,
div.recipe-container {
    text-align: center;
}


.food-label {
    text-align: left;
    padding: 5px;
}

.food-num,
.food-name {
    margin-right: 5px;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

.food-num {
    font-weight: bold;
}

.food-name {
    padding-left: 5px;
    border-left: 1px black solid;
}

.description {
    padding: 5px;
    text-align: left;
    word-wrap: break-word;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 22px;
}

.short {
    width: 225px;
}

.long {
    width: 450px;
}

.button-container {
    text-align: right;
    padding: 5px;
    margin-top: 2px;
}

.crumbs ol {
    list-style-type: none;
}

.crumb {
    display: inline-block;
}

.crumb::after {
    content: '>';
    display: inline-block;
    font-size: 80%;
    font-weight: bold;
    padding: 0px 3px;
}

.crumbs ol {
    margin: 2px 0px;
}